img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column ;
    width: 100%;
    height: 100vh;
    padding: 0%;
    margin: 0%;
    background-color: rgb(231, 232, 234);
}
*{
    transition: 0.3s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
.main-box{
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    height: 70vh;
    background-color: white;
    box-shadow: inset -3px -3px 4px rgb(244, 238, 238),inset 3px 3px 4px rgb(117, 117, 117);

}
h1{
    margin: 0%;
    color: red;
    text-align: center;
}
.search{
    border-radius: 50px;
    width: 100%;
    padding: 5px;
    box-shadow: inset -3px -3px 4px rgb(244, 238, 238),inset 3px 3px 4px rgb(117, 117, 117);

}
.fa-magnifying-glass{
    font-size: 18px;
    background-color: transparent;
}
.search input{
    width: 92%;
    border: none;
    font-size: 20px
}
.search input:focus{
    outline: none;
}
.Container{
    margin-top: 10px;
    overflow: auto;
    width: 100%;
    height: 86%;
}
.Container .inner-box{
    width: 100%;
    height: 400px;
}
.Container .inner-box .row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 150px;
}
.Container .inner-box .row .box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset -3px -3px 4px rgb(244, 238, 238),inset 3px 3px 4px rgb(117, 117, 117);
}
.Container .inner-box .row .box .img-box{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: inset -3px -3px 4px rgb(244, 238, 238),inset 3px 3px 4px rgb(117, 117, 117);
    overflow: hidden;
}
.Container .inner-box .row .box:hover .img-box{
    width: 120px;
    height: 120px;
}
.Container .inner-box .row .desc{
    width: 50%;
    height: 120px; 
}
.Container .inner-box .row .desc h1{
    font-size: 18px;
    text-align: left;
    margin-bottom: 0%;
}
.Container .inner-box .row .desc p{
    margin-bottom: 0%;  
}
.Container .inner-box .row .desc button{
    width: 100px;
    border: none;
    box-shadow: inset -3px -3px 4px rgb(244, 238, 238),inset 3px 3px 4px rgb(117, 117, 117);
    padding: 5px;
    border-radius: 50px;
}
.Container .inner-box .row .desc button:hover{
    box-shadow: -3px -3px 4px rgb(244, 238, 238), 3px 3px 4px rgb(117, 117, 117);
    padding: 5px;
}
::-webkit-scrollbar{
    border-radius: 50px;
    background-color: black;
    width: 5px;
}
 ::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: rgb(62, 165, 41);

}